body{
    font-family: 'Audiowide', cursive;
    background-image: url(../images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #BEDADB;
}
header {
    color: #FC5C7D;
    text-shadow: 2px 2px 4px gray;
    
}

section {
    background: rgba(245, 245, 245, 0.493);
    color: #011FFD;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    font-size: 60px;
}

h3 {
    font-size: 30px;
}

.answers_box{
    font-size: 20px;
}

button {
    background: #FC5C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6A82FB, #FC5C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6A82FB, #FC5C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.off {
    display: none;
}

.status {
    font-size: 20px;
    color: #FC5C7D;
}

.answers{
    cursor: pointer;
}

.answers:hover{
    color: #FC5C7D;
}
