body{
    font-family: 'Audiowide', cursive;
    background-image: url(../images/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #BEDADB;
}
header {
    color: #FF2289;
    text-shadow: 2px 2px 4px gray;
}

section {
    background: rgba(245, 245, 245, 0.493);
    color: #011FFD;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
    font-size: 60px;
}

h3 {
    font-size: 30px;
}

.answers_box{
    font-size: 20px;
}
